version: '3'
rpc:
  listen: tcp://127.0.0.1:6001
server:
  command: "php vendor/bin/roadrunner-worker"
  #command: "php -d variables_order=EGPCS artisan octane:start --server=roadrunner --host=0.0.0.0 --rpc-port=6001 --port=8000 --watch"
  relay: pipes
  env:
    - XDEBUG_SESSION: '1'
http:
  address: 0.0.0.0:8000
  fcgi:
    address: tcp://0.0.0.0:9001
  middleware:
    - gzip
    - static
  static:
    dir: public
    forbid:
      - .php
      - .htaccess
  pool:
    debug: true
    num_workers: 4
    allocate_timeout: 30s
    max_jobs: 500
    max_worker_memory: 256
    supervisor:
      exec_ttl: 30s
jobs:
  num_pollers: 16
  timeout: 240
  pool:
    num_workers: 4
    max_worker_memory: 256
    debug: true
    max_jobs: 100
    allocate_timeout: 30s
kv:
  local:
    driver: memory
    config:
      interval: 60
logs:
  mode: development
  level: debug
  output: /var/log/roadrunner.log
  encoding: json


