#https://www.cloudsigma.com/deploying-laravel-nginx-and-mysql-with-docker-compose/
version: '2.0'
services:
    #PHP Service
    app:
        build:
            context: .
            args:
                XDEBUG_CLIENT_PORT: "${XDEBUG_CLIENT_PORT}"
                XDEBUG_CLIENT_HOST: "${XDEBUG_CLIENT_HOST}"
                OCTANE_HOST: "${OCTANE_HOST}"
                OCTANE_SERVER: "${OCTANE_SERVER}"
                OCTANE_PROXY_PORT: "${OCTANE_PROXY_PORT}"
                OCTANE_RPC_PORT: "${OCTANE_RPC_PORT}"
                APP_DEBUG: "${APP_DEBUG}"
                APP_PORT: "${APP_PORT}"
            dockerfile: Dockerfile
        container_name: app
        restart: unless-stopped
        tty: true
        environment:
            SERVICE_NAME: app
            SERVICE_TAGS: dev
            SUPERVISOR_PHP_COMMAND: "php -d variables_order=EGPCS /var/www/html/artisan octane:start --server='${OCTANE_SERVER:-roadrunner}' --host='${OCTANE_HOST:-0.0.0.0}' --rpc-port='${OCTANE_RPC_PORT:-6001}' --port='${OCTANE_PROXY_PORT:-8000}'"
        working_dir: /var/www/html/
        volumes:
            - ./:/var/www/html/
            - ./php/laravel.ini:/usr/local/etc/php/conf.d/laravel.ini
        networks:
            - app-network
    #Nginx Service
    webserver:
        image: nginx:alpine
        container_name: webserver
        restart: unless-stopped
        tty: true
        ports:
            - '${APP_PORT:-80}:80'
            - '${VITE_PORT:-5173}:5173'
            - "${SSL_PORT:-443}:443"
        volumes:
            - ./:/var/www/html/
            - ./nginx/conf.d/:/etc/nginx/conf.d/
        networks:
            - app-network
    #MySQL Service
    db:
        image: mysql:5.7.32
        container_name: db
        restart: unless-stopped
        tty: true
        ports:
            - "${DB_PORT}:3306"
        environment:
            MYSQL_DATABASE: ${DB_DATABASE}
            MYSQL_USER: ${DB_USERNAME}
            MYSQL_ROOT_PASSWORD: ${DB_ROOT_PASSWORD}
            MYSQL_PASSWORD: ${DB_PASSWORD}
            SERVICE_TAGS: dev
            SERVICE_NAME: mysql
        volumes:
            - dbdata:/var/lib/mysql/
            - ./mysql/my.cnf:/etc/mysql/my.cnf
        networks:
            - app-network
#Docker Networks
networks:
    app-network:
        driver: bridge
#Volumes
volumes:
    dbdata:
        driver: local
